.root {
  padding: 10px 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #54C381;
  color: #fff;
  font-weight: bold;

  &.stop {
    background-color: #FA5B3B;
  }
}