:global {
  body {
    background-color: #2F2F2F;
    color: rgba(255, 255, 255, 0.75);
    padding: 20px;
  }
}

.root {
  max-width: 600px;
  margin: 0 auto;

  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .scramble, .timer {
    margin-bottom: 40px;
  }

  .helperText {
    margin-top: 40px;

    code {
      border: 1px solid #e6e6e6;
      font-size: 0.85rem;
      padding: 2px;
    }
  }
}